<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap       = "http://phonegap.com/ns/1.0"
        xmlns:android   = "http://schemas.android.com/apk/res/android"
        id              = "me.vxcom.qme"
        version         = "1.0.0">

    <name>Que Filme É Esse?</name>
    <description>
        Que filme é esse?
    </description>
    <author email="andre@amoralabs.com" href="http://andregarzia.com">
        VX Comunicação
    </author>

    <gap:platform name="ios" />
    <gap:platform name="android" />

    <gap:config-file platform="ios" parent="CFBundleIdentifier" overwrite="true">
        <string>me.vxcom.qme</string>
    </gap:config-file>


    <icon src="res/Icones/ios/ipad/icon/x152.png" />


    <platform name="android">
        <!-- you can use any density that exists in the Android project -->
        
        <gap:splash src="res/screen/android/splash-port-ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
        <gap:splash src="res/screen/android/splash-port-mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
        <gap:splash src="res/screen/android/splash-port-hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
        <gap:splash src="res/screen/android/splash-port-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
    </platform>

    <platform name="ios">
        <!-- images are determined by width and height. The following are supported -->
        <splash src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
        <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
        <splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
        <splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
        <splash src="res/screen/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
        <splash src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
        <splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
        <splash src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
        <splash src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>
        <splash src="res/screen/ios/Default-Landscape-736h.png" width="2208" height="1242"/>
    </platform>


    <content src="index.html" />
    <access origin="*" />
</widget>
