/*
 * LOUVADO SEJA O NOME DO SENHOR JESUS EM TODAS AS COISAS QUE EU FAÇO 
 * 
 * Author Thiago Sobrinho
 * Copyright 2014 VX
 * thiago122@gmail.com
 */
/* ---------------------------------------------- */
/* FONTES                                         */
/* ---------------------------------------------- */

@font-face {
    font-family: 'nexa_boldregular';
    src: 
         url('../fonts/Nexa_Free_Bold-webfont.woff') format('woff'),
         url('../fonts/Nexa_Free_Bold-webfont.ttf') format('truetype'),
         url('../fonts/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LoveloBlack';
    src: url('../fonts/lovelo_black.eot');
    src: url('../fonts/lovelo_black.eot') format('embedded-opentype'),
         url('../fonts/lovelo_black.woff2') format('woff2'),
         url('../fonts/lovelo_black.woff') format('woff'),
         url('../fonts/lovelo_black.ttf') format('truetype'),
         url('../fonts/lovelo_black.svg#LoveloBlack') format('svg');
}
@font-face {
    font-family:'PTSans-NarrowBold';
    src: url('../fonts/PTSans-NarrowBold_latin+latin-ext_gdi.eot');
    src: url('../fonts/PTSans-NarrowBold_latin+latin-ext_gdi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PTSans-NarrowBold_latin+latin-ext_gdi.woff') format('woff'),
        url('../fonts/PTSans-NarrowBold_latin+latin-ext_gdi.ttf') format('truetype'),
        url('../fonts/PTSans-NarrowBold_latin+latin-ext_gdi.otf') format('opentype'),
        url('../fonts/PTSans-NarrowBold_latin+latin-ext_gdi.svg#PTSans-NarrowBold') format('svg');
}
@font-face {
    font-family:'PTSans-Narrow';
    src: url('../fonts/PTSans-Narrow_latin+latin-ext_gdi.eot');
    src: url('../fonts/PTSans-Narrow_latin+latin-ext_gdi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PTSans-Narrow_latin+latin-ext_gdi.woff') format('woff'),
        url('../fonts/PTSans-Narrow_latin+latin-ext_gdi.ttf') format('truetype'),
        url('../fonts/PTSans-Narrow_latin+latin-ext_gdi.otf') format('opentype'),
        url('../fonts/PTSans-Narrow_latin+latin-ext_gdi.svg#PTSans-Narrow') format('svg');
}

/* ---------------------------------------------- */
/* RESET                                          */
/* ---------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    -box-sizing: border-box;
}
body,html{
    position:relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
   
}
body {
    -webkit-user-select: none;/* previne que o usuário selecione e copie os textos para permitir: 'none' para 'text' */
    font: 14px 'PTSans-Narrow';
    color: #3e3e3e;
}
a{
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* Desabilita aquele efeito azul no touch */
    -webkit-touch-callout: none;                /* Desabilita aquele efeito azul no touch */
    text-decoration: none;
}
li{
    list-style-type: none;
}

/* ------------------------------------------------- */
/* MENU                                              */
/* ------------------------------------------------- */
.off-canvas { 
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #3c4141 !important;
    color: #fff;

    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: auto;

    -webkit-transform: translateX(-10%);
       -moz-transform: translateX(-10%);
            transform: translateX(-10%);

    -webkit-transition: all .15s linear;
       -moz-transition: all .15s linear;
            transition: all .15s linear;
}

.off-canvas-active .off-canvas {
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
            transform: translateX(0);

    -webkit-transition: transform .15s linear;
       -moz-transition: transform .15s linear;
            transition: transform .15s linear;
}
/* ------------------------------------------------- */
/* CONTEÚDO                                         */
/* ------------------------------------------------- */
.container-principal{
    z-index: 2;

    -webkit-box-shadow: -14px -1px 30px 0px rgba(37, 39, 41, 0.6);
       -moz-box-shadow: -14px -1px 30px 0px rgba(37, 39, 41, 0.6);
        box-shadow:     -14px -1px 30px 0px rgba(37, 39, 41, 0.6);

    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
            transform: translateX(0);

    -webkit-transition: all .20s linear;
       -moz-transition: all .20s linear;
            transition: all .20s linear;
}
.off-canvas-active .container-principal {
    -webkit-transform: translateX(80%);
       -moz-transform: translateX(80%);
            transform: translateX(80%);

    -webkit-transition: transform .20s linear;
       -moz-transition: transform .20s linear;
            transition: transform .20s linear;
}
.screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #f4f3ef;
}
.container{
    width: 100%;
    position: absolute;
    overflow: hidden;
    right: 0px;
    left: 0px;
    top: 45px;
    bottom: 0px;   
}
/* Esconde a Barra de rolagem quando ela existe. */
.content-scroll::-webkit-scrollbar {
  display: none;
}
.content-scroll{
    width: 100%;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}
.content-scrol-top-bar{
    top: 45px;
    bottom: 0;
}
.content-scrol-top-bottom-bar{
    top: 45px;
}

